@use "@/scss/base/variables" as v;
@import "@/scss/base/mixin";

.container {
  width: 100vw;
  height: 100vh;
  padding: v.$layout-spacing;
  display: flex;
  overflow: hidden;
  @include laptops {
    padding: 2rem;
  }

  .wrap {
    width: calc(100% / 2);
    display: flex;

    &.title {
      justify-content: center;
      align-items: center;
      margin: 2rem;

      .content {
        justify-content: center;
        align-items: center;

        .title {
          font-size: v.$large-size;
          color: v.$main-green;
          margin-bottom: 5px;
        }

        .description {
          margin: 1.5rem 0;
        }

        .foot {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 2rem 0;
        }
      }
    }

    &.plantBg {
      justify-content: center;
      align-items: center;
      position: relative;
      user-select: none;
      margin: 2rem;

      .content {
        box-sizing: border-box;
      }

      img {
        width: auto;
        height: 80vh;
        @include laptops {
          height: 50vh;
        }
      }
    }
  }
}
