// color
$font-color: #3a3a3a;
$main-green: #4caf50;
$light-green: #78bf42;
$beige: #e6e3dc;
$light-gray: #f3f3f3;
$dark-gray: #868686;

// font size
$regular-size: 14px;
$medium-size: 16px;
$large-size: 20px;

// spacing
$layout-spacing: 10rem;
