@use "../base/variables" as v;

.container {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem v.$layout-spacing;
  z-index: 1000;

  .logo {
    font-size: v.$large-size;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  .function {
    display: flex;

    a {
      display: flex;
      text-align: right;
      align-items: center;
      margin-left: 2rem;

      &:hover {
        color: v.$main-green;
      }
    }

    .shoppingBag {
      position: relative;
      display: block;
      user-select: none;
      cursor: pointer;

      .icon {
        font-size: 25px;
      }

      .count {
        position: absolute;
        top: 2px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        width: 25px;
        height: 25px;
        padding: 1px;
      }
    }
  }
}
